# BACKEND CONFIGURATION
PORT=3000
NODE_ENV=development

# DATABASE
MONGODB_URI=mongodb://localhost:27017/operativo-urbano
# Para Atlas: mongodb+srv://user:password@cluster.mongodb.net/operativo-urbano

# JWT
JWT_SECRET=tu_clave_super_secreta_cambiar_en_produccion
JWT_EXPIRES_IN=7d

# SERVER
SERVER_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:8080

# SOCKET.IO
SOCKET_IO_CORS=http://localhost:8080

# LOG
LOG_LEVEL=debug
